registry=https://pkgs.dev.azure.com/ClaroPay/_packaging/sdk-npm-hitss-qa/npm/registry/
# Adding a comment for line break
always-auth=true
//pkgs.dev.azure.com/ClaroPay/_packaging/sdk-npm-hitss-qa/npm/registry/:username=Xeni
//pkgs.dev.azure.com/ClaroPay/_packaging/sdk-npm-hitss-qa/npm/registry/:_password=MmVpdmkyNDNiYnFvamI1ZXRuaXdqMjd6ZGRwcWI0dXJlempjZmFsbWtwNG9scXF6NmNrcQ==
