registry=https://pkgs.dev.azure.com/ClaroPay/_packaging/sdk-npm-hitss-qa/npm/registry/
# Adding a comment for line break
always-auth=true
//pkgs.dev.azure.com/ClaroPay/_packaging/sdk-npm-hitss-qa/npm/registry/:username=Xeni
//pkgs.dev.azure.com/ClaroPay/_packaging/sdk-npm-hitss-qa/npm/registry/:_password=MmVpdmkyNDNiYnFvamI1ZXRuaXdqMjd6ZGRwcWI0dXJlempjZmFsbWtwNG9scXF6NmNrcQ==
//pkgs.dev.azure.com/ClaroPay/_packaging/sdk-npm-hitss-qa/npm/registry/:email=npm requires email to be set but doesnt use the value
//pkgs.dev.azure.com/ClaroPay/_packaging/sdk-npm-hitss-qa/npm/:username=Xeni
//pkgs.dev.azure.com/ClaroPay/_packaging/sdk-npm-hitss-qa/npm/:_password=MmVpdmkyNDNiYnFvamI1ZXRuaXdqMjd6ZGRwcWI0dXJlempjZmFsbWtwNG9scXF6NmNrcQ==
//pkgs.dev.azure.com/ClaroPay/_packaging/sdk-npm-hitss-qa/npm/:email=npm requires email to be set but doesnt use the value