/* examples/custom-styling.css */
.customOverlay {
    background: rgba(255, 255, 255, 0.884);
  }
  /* Default styles for the modal content */
.customModal {
    width: 50%;
    height: 60%;
    max-height: 80%; /* Fix the maximum height to 80% of the viewport height */
    overflow-y: hidden; /* Add vertical scroll if content exceeds the height */
    overflow-x: hidden;
  }
  /* Responsive styles for screens with a max-width of 768px */
@media (max-width: 768px) {
    .customModal {
      width: 60%;
      height: 60%;
    }
  }
  
  /* Responsive styles for screens with a max-width of 480px */
  @media (max-width: 480px) {
    .customModal {
      width: 80%;
      height: 80%;
      left: 0;
      top: 0;
    }
  }