/* styles.css */

/* Card Form Widget Container */
.card-form-widget {
    width: 100%;
    margin: 0 auto;
    background-color: white;
    border-radius: 5px;
  }
  
  /* Card Form Widget Header */
  .head {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  /* Card Form Widget Body */
  .body {
    font-size: 16px;
  }

.input-container {
  display: flex;
  justify-content: space-between;
  width:full;
  
}

.date-container {
  display: flex;
  justify-content: space-between;
  margin-right: 0px;
}



@media screen and (max-width: 760px) {
  .date-container {
    padding-right: 10px; /* Change to block display for even smaller screens */
  }
}

@media screen and (max-width: 480px) {
  .input-container {
    display: block; /* Change to block display for even smaller screens */
  }
}

@media screen and (max-width: 480px) {
  .date-container {
    width: 100% /* Change to block display for even smaller screens */
  }
}

  /* Card Image */
  .card-img {
    margin-right: 20px;
    width: 30px; /* Adjust the size as needed */
    height: 20px; /* Adjust the size as needed */
  }
  
  /* Card Number Input Field */
  .card-number-input {
    display:flex;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom:10px
  }
  
  /* Error Message */
  .error {
    color: #ff0000;
    font-size: 14px;
    margin-top: 5px;
  }
  
  /* Input Field */
  .input-field {
    flex: 1;
    margin-right: 10px;
  }
  
  .widget {
    /* Add any styles you want for the entire widget container here */
    /* For example, you can set the background color, padding, and border */
    background-color: white;
    border: none;
    padding:20px;
    border-radius: 5px;
    display: block;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  
.expiration-date-input,
.cvv-input{
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
}

@media (max-width: 480px) {
  .expiration-date-input{
    width:90%
}
}

@media (max-width: 480px) {
  .cvv-input{
  width:95%;
}
}
  /* CVV Input Field */
  .cvv {
    width: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
  }
  
  /* Feedback and Invalid Message */
  .feedback,
  .invalid {
    color: #ff0000;
    font-size: 14px;
    margin-top: 10px;
  }
  